*{
  box-sizing: border-box;
}

body{
  margin-left: 20px;
  margin-right:20px;
  font-family: 'Verdana',sans-serif;
  color: black;
  background-color: #CACDD0  ;
}

main{
  background-color: white;
  padding: 20px 10px;
  border-left: 2px solid grey;
  border-right: 2px solid grey;
}

section{
  margin:20px 0;
  padding: 5px;
}

h1,h2,h3,h4,h5{
  font-family:times;
  color:#1d1d60;
  font-weight:bold;
}

.img{
  width:100%;
  margin-top: 22px;
  margin-bottom:22px;
  height:200px;

}



a:link{
  color:black;
}
a:visited,
.link--visited{
  color: black;
}
a:hover{
  font-family:monospace;
}
a:active{
  color: blue;
}

.colour {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid black;
}

.colour--primary {
	background: black;
}

.colour--secondary {
	background: #1d1d60;
}

.colour--dark{
	background: grey;
}

.colour--light {
	background: white;
}

.colour--highlight {
	background:  #8a8dcf;
}



@media (min-width: 600px) {
	main {
		width: 600px;
		margin: auto;
	}
}
